@model System.Collections.Generic.List<Milk.DataModels.ExpensesHistoryDto>


<h2 class="alert-dark" style="text-align:center">Отчет по выплатам</h2>


<table class="table table-striped table-dark table-bordered">
    <thead>
        <tr>
            <th class="text-center" scope="col">Id</th>
            <th class="text-center" scope="col">Описание выплаты</th>
            <th class="text-center" scope="col">Сумма</th>
            <th class="text-center" scope="col">Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var history in Model)
        {
            <tr>
                <td class="text-center">@history.HistoryId</td>
                <td class="text-center">@history.Description</td>
                <td class="text-center">@history.Sum</td>
                <td class="text-center">@history.Date</td>
            </tr>
        }
    </tbody>
</table>

<div class="navbar">
    <div class="container">
        <div class="ml-auto">
            <input ENGINE="button" value="Печать документа" onClick="javascript:print(document);" />
        </div>
    </div>
</div>


