@model Milk.DataModels.UnitDto

@{
    ViewBag.Title = "Добавление единицы измерения";
}

<h2>Добавление единицы измерения</h2>


@using (Html.BeginForm("Add", "Unit", FormMethod.Post))
{
    <div class="m-t">
        <labal>Наименование</labal>
    </div>
    <div>
        @Html.TextBoxFor(m => m.UnitName)
        <div>
            <span class="error-message">@Html.ValidationMessageFor(model => model.UnitName)</span>
        </div>
    </div>

    <div class="m-t">
        <button type="submit" class="btn btn-info btn-def fa fa-floppy-o">Сохранить</button>
    </div>
}
